body {
  background-color: #e8e6e6;
  font-family: helvetica;
}
li {
  font-size: 15px;
  line-height: 2;
  text-align: left;
}

div.header-img {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  position: fixed;
}

#header-img {
  width: 190px;
  filter: invert(100%);
  margin: 0 auto;
  display: block;
}
div.nav-bar {
  overflow: hidden;
  position: fixed;
  background-color: #1a1a1a;
  width: 100%;
  top: 47px;
}

#nav-bar a{
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 14px 50px;
  float: left;
  transition: 0.5s;
}

#nav-bar a:hover {
  background-color:#696969;
  border-radius: 5px;
}

#title {
  margin-top: 150px;
  text-align: center;
}

#email {
  display: block;
  margin: auto;
  width: 180px;
  padding: 8px;
  border-radius: 50px;
  font-size: 15px;
  transition: 0.5s;
  background-color: rgb(233, 233, 235) !important;
}
#email:hover {
  background-color: rgb(190, 190, 190);
  width: 300px;
}

#submit {
  display: block;
  margin: auto;
  padding: 8px;
  width: 80px;
  border-radius: 20px;
  background-color: #000000;
  margin-top: 20px;
  color: white;
  font-size: 15px;
  transition: 0.5s;
}

#submit:hover {
  background-color: grey;
}

#text {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 100px;
}

#video {
  margin: auto;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff;
  padding: 3px;
  width: 100%;
  max-width: 500px;
}

div.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

div.products {
  background-color: white;
  margin: 20px;
  transition: box-shadow 0.5s ease;
  border-radius: 2px;
  max-width: 425px;
  height: 100%;
}
.image img {
  width: 100%;
  max-width: 425px;
}
.products:hover {
  box-shadow: 0px 0px 10px #008fb3;
}
div.product-title {
  padding: 10px;
  background-color: #1a1919;
  color: white;
  text-align: center;
  border-radius: 2px;
}
div.size {
  line-height: 0.05;
}
.product-title p{
  font-size: 20px;
  font-weight: bold;
}
.product-description p{
  font-size: 24px;
  font-weight: bold;
}
.product-submit {
  background-color: #1a1919;
  border: none;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  transition: background 0.5s ease;
  border-radius: 2px;
}

.product-submit:hover {
  background-color: grey;
}

@media screen and (max-width: 750px) {
  div.products{
    max-width: 100%;
  }
  div.products img {
    max-width: 100%;
    width:100%;
  }
  .flex-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  div.products {
    margin: 10px;
  }
}
@media screen and (max-width: 550px) {
  
  #title {
    margin-top: 200px;
  }
}
